/*全体*/
body{
  margin: 0px 100px 0px 100px;
  font-family: 游明朝;
  font-weight: bolder;
  background: #f3e2a9;
  background-image : url(./img/money.png);
  background-attachment: fixed;
}

/*画像*/
.img{
  width: 320px;
  height: 152px;
  border: solid 1px #ff7f50;
  box-shadow: 2px 3px 5px #ff7f50;
}

/*テキスト*/
.text {
  padding: 0 1.5em 1em 1.5em;
  margin: 1em 0 2em 0;
  color: #fc240b;
  background: rgba(255,255,255,0.7);
  border: solid 2px #fc240b;
  border-radius: 10px;
  width: 45%;
  box-shadow: 0 5px 7px #ff7f50;
}
.text p {
  margin: 0; 
  padding: 0;
}

/*ブロック配置*/
.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}
.blockmargin{
  margin: 30px 10px;
}

/*ヘッダー*/
.header {
  padding: 0 0 1em 0;
  margin: 1em 0 0 0;
  text-align: center;
  background: rgba(255,255,255,0.7);
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

/*フッター*/
.footer {
  padding: 1em 0;
  margin: 0 0 1em 0;
  text-align: center;
  background: rgba(225,255,255,0.7);
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

/*見出し*/
h1 {
  size: 150%;
  text-shadow: 2px 2px 3px silver;
  -webkit-text-stroke: 0.5px gold;
}
h2 {
  text-align: center;
  color: #f79f81;
  font-weight: bold;
  -webkit-text-stroke: 1px #fc240b;
}

/*トップボタン*/
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;
  background: #fe642e;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: FontAwesome;
  content: "\f102";
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/*フェード*/
.fadeup {
  opacity : 0;
  transform : translate(0, 50px);
  transition : all 750ms;
}
.fadeup.scrollin {
  opacity : 1;
  transform : translate(0, 0);
}

.fadeend {
  opacity : 0;
  transition : all 1000ms;
}
.fadeend.scrollin {
  opacity : 1;
}

#effect2 > .fadeup:nth-of-type(2) {
  -moz-transition-delay:200ms;
  -webkit-transition-delay:200ms;
  -o-transition-delay:200ms;
  -ms-transition-delay:200ms;
}